.browser {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  z-index: 2;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing3);
  padding: var(--spacing4);
  border-bottom: 1px solid var(--border);
}

.backButton {
  align-self: flex-start;
  color: var(--accent);
  font-weight: 400;
}

.title {
  font-family: var(--font-gentium-plus);
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  padding-top: var(--spacing5);
}

.feedList {
  overflow-y: auto;
  padding: var(--spacing8);
}

.cardListContainer {
  max-width: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing8);
}
