.container {
  padding: var(--spacing6);
  display: flex;
  flex-direction: column;
  gap: var(--spacing6);
}

.errorBanner {
  margin-bottom: var(--spacing4);
}

.inviteSection {
  display: flex;
  gap: var(--spacing3);
  align-items: stretch;
}

.inviteButton {
  height: auto;
  align-self: stretch;
}

.memberHeader {
  display: flex;
  align-items: center;
  gap: var(--spacing3);
}

.memberInfo {
  display: flex;
  flex-direction: column;
  gap: var(--spacing1);
}

.memberName {
  font-weight: 700;
  font-size: var(--text-md);
  font-family: var(--font-gentium-plus);
}

.memberEmail {
  font-size: var(--text-sm);
  color: var(--light2);
}

.memberActions {
  display: flex;
  gap: var(--spacing4);
  align-items: center;
}

.roleSelect {
  flex: 0 0 auto;
  width: 120px;
}

.roleLabel {
  flex: 0 0 auto;
  width: 120px;
  display: flex;
  align-items: center;
  font-size: var(--text-md);
}
