.skeletonPostWrapper {
  /* Matches FeedPost spacing */
  padding: 0 var(--spacing17) var(--spacing8) var(--spacing17);
}

.skeleton {
  background-color: var(--light);
  background-image: linear-gradient(
    90deg,
    var(--white) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    var(--white) 100%
  );
  background-size: 200% 100%;
  animation: skeleton-loading 3s infinite ease-in-out;
  opacity: 0.4;
}

.skeletonFeedPost {
  display: flex;
  gap: var(--spacing4);
  align-items: flex-start;
}

.skeletonAvatar {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: grid;
  place-items: center;
  flex-shrink: 0;
}

.skeletonPostRight {
  width: 100%;
}

.skeletonPostInfo {
  display: flex;
  align-items: center;
  gap: var(--spacing3);
}

.skeletonAuthorName {
  width: 90px;
  height: 16px;
  border-radius: 4px;
  margin-bottom: 4px;
}

.skeletonTimestamp {
  width: 60px;
  height: 12px;
  border-radius: 4px;
}

.skeletonMessageThread {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-left: auto;
}

.skeletonContentLine1 {
  width: 80%;
  height: 16px;
  border-radius: 4px;
  margin-top: var(--spacing2);
  margin-bottom: 8px;
}

.skeletonContentLine2 {
  width: 60%;
  height: 16px;
  border-radius: 4px;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
} 