.feedWrapper {
    anchor-name: --feed;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing10);

    .feedIntroRule {
        --intro-rule-width: 68px;
        width: var(--intro-rule-width);
        margin: auto;
        border-bottom: 0.75px solid var(--light);
        margin-bottom: var(--spacing7);
    }

    & .feedSelectorTabletUp {
        display: none;
    }

    & .feedPosts {
        display: flex;
        flex-direction: column;
    }

    & .feedPost {
        padding: var(--spacing7);
        border-bottom: 1px solid #494E6C;
    }
}

@media (--tablet) {
    .feedWrapper {
        width: 600px;
        margin-left: var(--spacing5);
        margin-right: var(--spacing5);
        background-color: var(--mid);
        border-radius: var(--border-radius-lg);
        box-shadow: 21px 16px 63px -36px rgba(0, 0, 0, 0.25),
           -21px 16px 63px -36px rgba(0, 0, 0, 0.25);

        .feedSelectorTabletUp {
            display: block;
        }

        .feedPost {
            padding: var(--spacing11) var(--spacing17);
        }

        .feedPost:last-child {
            border-bottom: none;
        }
    }
}

@media (--laptop) {
    .feedWrapper {
        width: 640px;
    }
}