.feedSelectorTitle {
    display: none;
}

.feedSelectorRule {
    display: none;
}

.feedSelector {
    font-size: 1.125rem;
    font-family: var(--font-gentium-plus);
    font-weight: 400;
    height: 56px;
    border-radius: var(--border-radius-lg);
    background: rgb(from var(--mid) r g b / 0.35);
    backdrop-filter: blur(8px);
}

.feedList {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    display: grid;
    place-items: center;
    z-index: 2;
    overflow-y: auto;
}

.feedList ol {
    list-style: none;
    padding: 0;
    z-index: 2;
    font-family: var(--font-gentium-plus);
    font-style: italic;
    font-size: 2rem;
    text-align: center;
    
    & input[type="radio"] {
        visibility: hidden;
    }

    & label {
        cursor: pointer;
        transition: color 0.2s ease-in-out;
    }

    & label:hover {
        color: var(--accent);
    }

    & li:not(:last-child) {
        padding-bottom: var(--spacing4);
    }
}

.chooseFeedHeading {
    z-index: 2;
    font-family: var(--font-gentium-plus);
    font-style: normal;
    font-size: 2.2rem;
    text-align: center;
    font-weight: 400;
    padding: 0 var(--spacing5);
    margin-bottom: var(--spacing5);
}

.selected {
    color: var(--accent);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.viewingOpenFeedCard {
    font-family: var(--font-family);
    font-style: normal;
    font-size: var(--text-base);
    padding: 0 var(--spacing4);
    max-width: 500px;
    width: 100%;
}

.browseOpenFeeds {
    font-family: var(--font-family);
    font-style: normal;
    font-size: var(--text-base);
    margin-top: var(--spacing5);
}

@media (--tablet) {

    .chooseFeedHeading {
        font-size: 2.4rem;
    }

    .selectedFeed {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--spacing13) 0;
    }

    .selectedFeed.inToolbar,
    .feedSelectorRule.inToolbar {
        display: none;
    }
    

    .feedSelectorTitle,
    .feedSelector {
        font-family: var(--font-gentium-plus);
        font-style: italic;
        font-weight: 400;
        font-size: var(--text-lg);
    }
    
    .feedSelectorTitle {
        display: inline;
    }

    .feedSelectorRule {
        display: block;
        width: 210px;
        height: 1px;
        background-color: var(--light);
        border: none;
        margin: 0 auto var(--spacing5);
    }

    .feedSelector {
        position: relative;
        border: none;
        background: none;
        backdrop-filter: none;
        padding: 0;
        padding-left: var(--spacing2);
        color: var(--accent);
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
    }

    .feedSelector img {
        position: relative;
        top: 3px;

        /* Tint external SVG image to match var(--accent) */
        /* TODO: clean this up after https://github.com/NolanPic/churchfeed/issues/70 */
        filter: brightness(0) saturate(100%) invert(84%) sepia(22%) saturate(779%) hue-rotate(321deg) brightness(103%) contrast(94%);
    }
}