.feedWrapper {
    margin: 0 auto;
    max-width: 640px;
}

.mainTitle,
.location {
    font-family: var(--font-gentium-plus);
    font-weight: 400;
    text-align: center;
}

.mainTitle {
    margin-top: 142px;
    font-size: var(--text-xl);
}

.location {
    font-size: var(--text-md);
}

.lightPointer {
    --pointer-height: 52px;
    height: var(--pointer-height);
    width: 3px;
    background-color: var(--accent);
    margin: var(--spacing11) auto;
}

@media (--sm) {
    .mainTitle {
        margin-top: var(--spacing6);
    }

    .lightPointer {
        --pointer-height: 30px;
        margin: var(--spacing7) auto;
    }

    .location {
        font-size: var(--text-base);
    }
}