.messagesContainer {
    position: relative;
    overflow: hidden;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: var(--spacing4);
    padding: 0;
    list-style: none;
    touch-action: pan-y;
}

.message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing5);
    position: relative;
    margin-left: var(--modal-gutter);
    margin-right: var(--modal-gutter);

    article {
        display: flex;
        gap: var(--spacing2);
        flex: 1;
    }

    .messageAvatar {
        align-self: center;
    }

    .messageBubble {
        background: var(--mid2);
        padding: var(--spacing3);
        border-radius: 16px 24px;
        box-shadow: 21px -16px 64px -36px rgba(0,0,0,0.25),
        -21px 16px 64px -36px rgba(0,0,0,0.25);
    }

    header {
        font-weight: 700;
        margin-bottom: var(--spacing1);
        display: flex;
        align-items: center;
        gap: var(--spacing2);
    }

    .messageTimestamp {
        font-weight: 700;
        font-size: var(--text-sm);
        width: 70px;
        text-align: right;
        white-space: normal;
        word-wrap: break-word;
        overflow: hidden;

        /* position timestamp off-screen to the right */
        position: absolute;
        right: -80px;
    }
}

.messageSelf {
    flex-direction: row-reverse;

    article {
        flex-direction: row-reverse;
    }

    .messageBubble {
        border-radius: 24px 16px;
    }
}

.messageEditorWrapper {
    position: sticky;
    bottom: calc(var(--spacing4) * -1);
    margin-left: var(--modal-gutter);
    margin-right: var(--modal-gutter);
    border: 1px solid var(--accent);
    background-color: rgb(from var(--mid2) r g b / 0.6);
    backdrop-filter: blur(27px);
    padding: var(--spacing3);
    margin-top: var(--spacing4);
    border-radius: 16px 24px;
    box-shadow: 21px -16px 64px -36px rgba(0,0,0,0.25),
    -21px 16px 64px -36px rgba(0,0,0,0.25);
}

.messageContent {
    img {
        max-width: calc(12vw + 3rem);
        min-width: 100%;
        margin: var(--spacing3) 0;
    }
}

.hint {
    margin: var(--spacing4) var(--modal-gutter);
}

.messageMenu {
    position: relative;
    display: inline-block;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 2;
}

.messageMenuButton {
    background-color: transparent !important;
    cursor: pointer;
}

.messageMenuList,
.messageMenuListMobile {
    background-color: var(--mid);
    border: 1px solid var(--accent);
    border-radius: 10px;
    list-style: none;
    padding: var(--spacing2) 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 174px;
    text-align: center;
    color: var(--white);
    font-family: var(--font-gentium-plus);
    font-size: var(--text-base);
    overflow: hidden;
    z-index: 2;
}

.messageMenuListMobile {
    top: calc(100% + var(--spacing2));
    left: 100%;
    transform: translateX(-100%);
}

.messageMenuItem > button {
    cursor: pointer;
    background: none;
    border: none;
    color: inherit;
    width: 100%;
    padding: var(--spacing1) 0;
}

.messageMenuItem > button:hover {
    background-color: var(--mid2);
}


@media (--tablet) {
    .messages {
        gap: var(--spacing11);
    }

    .message {
        .messageAvatar {
            align-self: start;
        }

        .messageTimestamp {
            position: static;
            width: auto;
            white-space: nowrap;
            font-size: var(--text-base);
            color: var(--light2);
            align-self: flex-start;
        }

        /* Show message menu on hover on desktop */
        &:hover .messageMenu,
        .messageMenu[data-menu-open="true"] {
            opacity: 1;
        }
    }

    .messageEditorWrapper {
        margin-top: var(--spacing11);
    }
}
