.feedWrapper {
    margin: 0 auto;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userAvatarMenu {
    display: none;
}

.mainTitle,
.location {
    font-family: var(--font-gentium-plus);
    font-weight: 400;
}

.mainTitle {
    margin-top: var(--spacing24);
    text-align: center;
    font-size: var(--text-xl);
}

.location {
    font-size: var(--text-lg);
}

.lightPointer {
    margin: var(--spacing7) 0 var(--spacing13) 0;
}

.notFound {
    display: grid;
    place-items: center;
    text-align: center;
    height: 100vh;
    font-size: var(--text-xxl);
    margin: 0 var(--spacing6)
}

@media (--tablet) {
    .mainTitle {
        margin-top: 142px;
    }

    .location {
        font-size: var(--text-md);
    }

    .userAvatarMenu {
        display: block;
        position: absolute;
        top: var(--spacing9);
        right: var(--spacing9);
    }
}