.feedWrapper {
    margin: 0 auto;
    max-width: 640px;
}

.userAvatarMenu {
    position: absolute;
    top: var(--spacing9);
    right: var(--spacing9);
}

.mainTitle,
.location {
    font-family: var(--font-gentium-plus);
    font-weight: 400;
    text-align: center;
}

.mainTitle {
    margin-top: var(--spacing24);
    font-size: var(--text-xxl);
}

.location {
    font-size: var(--text-base);
}

.notFound {
    display: grid;
    place-items: center;
    text-align: center;
    height: 100vh;
    font-size: var(--text-xxl);
    margin: 0 var(--spacing6)
}

@media (--tablet) {
    .mainTitle {
        margin-top: 142px;
    }

    .location {
        font-size: var(--text-md);
    }
}