.postSeparator {
    margin: auto;
    background: var(--light);
    height: 1px;
    border: none;
    margin-top: var(--spacing8);
    margin-bottom: var(--spacing8);
}

@media (--tablet) {
    .postSeparator {
        margin-top: var(--spacing16);
        margin-bottom: var(--spacing16);
    }
}