.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--spacing12);
}
.avatarContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatarContainer p {
    margin-top: var(--spacing1);
}

.form {
    display: flex;
    flex-direction: column;
    width: 287px;
    gap: var(--spacing7);
}

.actionsDesktop {
    display: none;
}


@media (--tablet){

    .profile {
        display: flex;
        flex-direction: row;
    }

    .contentContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .avatarContainer {
        width: 50%;
        display: flex;
        align-items: flex-end;
        order: 2;
    }

    .content{
        width: 50%;
        margin-top: 0;
    }

    .actionsMobile {
        display: none;
    }

    .actionsDesktop {
        display: block;
        width: 287px;
        margin-top: var(--spacing10);
    }

    .profileButton {
        margin-left: 0;
    }
}