.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--spacing12);
}
.avatarContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatarContainer p {
    margin-top: var(--spacing1);
}

.form {
    display: flex;
    flex-direction: column;
    width: 287px;
    gap: var(--spacing7);
}

.actionsDesktop {
    display: none;
}

.toolbarActions {
    display: flex;
    justify-content: space-between;
}

.toolbarActions > * {
  margin-bottom: var(--spacing4);

}

.toolbarActions > :nth-child(2) {
  background-color: var(--accent);
}

@media (--tablet){

    .profile {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .contentContainer {
        width: 552px;
        display: flex;
        flex-direction: row;
        margin-top: var(--spacing18);
        
    }

    .avatarContainer {
        width: 50%;
        display: flex;
        align-items: flex-end;
        order: 2;
    }

    .content{
        width: 50%;
        margin-top: 0;
    }

    .actionsDesktop {
        display: block;
        width: 287px;
        margin-top: var(--spacing10);
    }

    .actionsDesktop button {
        background-color: var(--accent);
    }

    .toolbarActions {
        display: none;
}
}