.feedWrapper {
    margin: 0 auto;
    width: 640px;
}

.mainTitle,
.location {
    font-family: var(--font-gentium-plus);
    font-weight: 400;
    text-align: center;
}

.mainTitle {
    margin-top: 142px;
    font-size: var(--text-xl);
}

.location {
    font-size: var(--text-md);
}

.lightPointer {
    height: 52px;
    width: 3px;
    background-color: var(--accent);
    margin: 42px auto;
}