.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background: linear-gradient(
    to top, 
    var(--dark) 0%,
    rgb(from var(--dark) r g b / 0.75) 25%,
    rgb(from var(--dark) r g b / 0.5) 50%,
    transparent 100%
  );
  backdrop-filter: blur(10px);
  z-index: 1;
}