.otpWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing4);
  width: 100%;
}

.slotsContainer {
  display: flex;
  gap: var(--spacing3);
  justify-content: center;
  align-items: flex-start;
}

.slotWrapper {
  flex-shrink: 0;
}

.slot {
  width: 42px;
}

.slot input {
  text-align: center !important;
  font-size: var(--text-lg) !important;
  font-weight: 700 !important;
  letter-spacing: 0.1em !important;
  padding: var(--spacing4) var(--spacing2) !important;
  border-radius: 0;
}

.slotWrapper:first-of-type {
  & input {
    border-radius: var(--border-radius-sm) 0 0 var(--border-radius-sm);
  }
}

.slotWrapper:last-of-type {
  & input {
    border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;
  }
}

.slot label {
  display: none;
}

.errorMessage {
  font-size: var(--text-sm);
  color: var(--warning);
  line-height: var(--spacing5);
  font-weight: 700;
  text-align: center;
}

@media (max-width: 30rem) {
  .slotsContainer {
    gap: var(--spacing2);
  }
  
  .slot {
    width: 3rem;
  }
  
  .slot input {
    font-size: var(--text-base) !important;
    padding: var(--spacing3) var(--spacing1) !important;
  }
} 