.signinCard {
    margin: 0 var(--spacing4);

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: 400;
        font-family: var(--font-gentium-plus);
        text-align: center;
    }

    .signinEmail,
    .continueButton {
        margin-top: var(--spacing9);
    }
    
    .otpMessage,
    .otpInput,
    .signinButton {
        margin-top: var(--spacing6);
    }

    .otpMessage {
        font-style: italic;
        text-align: center;
    }
}

@media (--tablet) {
    .signinCard {
        background-color: var(--mid);
        width: 400px;
        height: 368px;
        max-width: initial;
        border-radius: var(--border-radius-lg);
        padding: var(--spacing9) var(--spacing14);
        margin: 0 auto;
    }
}



