.imageDrop {
    width: 100%;
    height: calc(10vh + 1rem);
    display: grid;
    place-items: center;
    border-radius: 12px;
    color: var(--white);
    background-color: var(--mid);
    cursor: pointer;
}

.imageDropInner {
    display: flex;
    gap: var(--spacing2);
    align-items: center;
}

.withMouse {
    display: none;
}

.withTouch {
    display: block;
}

@media (pointer: fine) {
    .withMouse {
        display: block;
    }

    .withTouch {
        display: none;
    }
}