.newPostButton {
    position: absolute;
    left: 100%;
    top: 50px;
    width: 30px;
    height: 40px;
    cursor: pointer;
    background-color: var(--mid);
    border: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &:hover:not(.newPostButtonOpen) {
        width: max-content;
        padding-right: var(--spacing3);

        .newPostButtonText {
            padding-left: var(--spacing2);
        }
    }

    .newPostButtonIcon {
        position: relative;
        right: 1px;
    }

    .newPostButtonText {
        color: var(--white);
        white-space: nowrap;
    }

    &.newPostButtonOpen {
        border: 1px solid var(--accent);
        border-left: 0;
        top: 0;
        background-color: var(--mid2);
        transform: translateX(-1px);
    }
}