.postEditorToolbar {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing4);
    align-self: flex-end;
    width: 100%;
}

.feedSelect {
    max-width: 250px;
}

.actions {
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: var(--spacing3);
}