.threadEditor {
    --editor-open-min-height: 190px;
    --editor-open-width: 100%;

    position: absolute;
    right: 0;
    width: var(--editor-open-width);
    min-height: var(--editor-open-min-height);
    background-color: var(--mid2);
    border: 1px solid var(--accent);
    border-radius: var(--border-radius-lg);
    padding: var(--spacing8);
    padding-bottom: var(--spacing6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.error {
    color: var(--warning);
    font-size: var(--text-base);
}