.overflowMenu {
    position-anchor: --overflow-button;
    inset: auto;
    bottom: anchor(top);
    right: var(--spacing4);
    margin-bottom: var(--spacing2);
    padding: var(--spacing5);
    border: 1px solid var(--accent);
    border-radius: var(--border-radius-lg);
    background-color: rgb(from var(--mid2) r g b / 0.30);
    backdrop-filter: blur(10px);
   
    &:popover-open {
        display: flex;
        flex-direction: column;
        gap: var(--spacing5);
        padding: var(--spacing5);
    }
}

.overflowMenuItem {
    list-style: none;
    margin: 0;
}

.overflowMenuItem a {
    display: flex;
    font-size: 1.125rem;
    font-family: var(--font-gentium-plus);
    line-break: nowrap;
    text-decoration: none;
    align-items: center;
    gap: var(--spacing2);
}

@supports not (anchor-name: --foo) {
    .overflowMenu {
        bottom: var(--spacing19);
    }
}

@media (--laptop) {
    .overflowMenu:popover-open {
        display: none;
    }
}